Repository FairpoolDEX/contracts: changes, and which lefthook commands are due for each by the changed paths.
All: lint-code, lint-markdown-text, lint-markdown-links

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-code:
      glob: "*.{ts,tsx,js,jsx}"
      run: yarn lint:code {staged_files}
    lint-markdown-text:
      glob: "*.md"
      run: yarn lint:markdown:text {staged_files} && git update-index -g
    lint-markdown-links:
      glob: "*.md"
      run: yarn lint:markdown:links {all_files} # lint all files, because renames may introduce broken links
    test:
      run: yarn test

#    TODO: Re-enable when type errors are fixed in typechain and ethers
#    typecheck:
#      glob: "*.{ts,tsx}"
#      run: yarn typecheck

Update libs
  contracts/Fairpool.sol
  package.json
  tasks/arguments/Fairpool.all.arguments.ts
  tasks/writeTotalsTask.ts
  test/contracts/Fairpool.test.ts
  test/contracts/Fairpool/expectParameter.ts
  test/contracts/Fairpool/getGasUsedForManyHolders.ts
  test/contracts/Fairpool/getGasUsedForSeparateSellAndWithdraw.ts
  test/formulas/arbitraries/getNumerators.ts
  test/formulas/arbitraries/toBoundedArray.ts
  test/formulas/arbitraries/toQuotients.ts
  test/support/Fairpool.functions.ts
Due: lint-code

Fix LICENSE
  LICENSE
Due: none

Fix party index
  contracts/Fairpool.sol
Due: none

Update license
  Market-Crash-Insurance.draft.md
  contracts/BaseToken.sol
  contracts/BullToken.sol
  contracts/ColiToken.sol
  contracts/Coliquidity.sol
  contracts/ERC20Enumerable.sol
  contracts/ERC20EnumerableTest.sol
  contracts/Fairpool.sol
  contracts/FairpoolOwnerOperator.sol
  contracts/FairpoolTest.sol
  contracts/GenericERC1155.sol
  contracts/GenericERC20Enumerable.sol
  contracts/GenericERC721A.sol
  contracts/GenericToken.sol
  contracts/GenericTokenWithVesting.sol
  contracts/IncreaseAllowanceHooks.sol
  contracts/MCP.sol
  contracts/QuoteToken.sol
  contracts/Recoverable.sol
  contracts/Scaled.sol
  contracts/SharedOwnership.sol
  contracts/SharedOwnershipTest.sol
  contracts/TraderLoot.sol
  contracts/Util.sol
Due: lint-markdown-text, lint-markdown-links

Remove remark-lint-no-dead-urls
  package.json
  yarn.lock
Due: none

WIP: new Fairpool test
  contracts/Fairpool.sol
  contracts/FairpoolTest.sol
  package.json
  test/arbitraries/commandsArb.ts
  test/commands/BuyCommand.ts
  test/commands/index.ts
  test/contracts/Coliquidity.test.ts
  test/contracts/Coliquidity/commands/SwapCommand.ts
  test/contracts/Fairpool.fast-check.non-test.ts
  test/contracts/Fairpool.static.test.ts
  test/contracts/Fairpool/getGasUsedForManyHolders.ts
  test/contracts/Fairpool/getGasUsedForSeparateSellAndWithdraw.ts
  test/contracts/Fairpool/getRealShareParamsFromModel.ts
  test/support/Fairpool.functions.ts
  test/support/Simulation/BuyAndHoldSimulation.ts
  test/support/Simulation/ColiquiditySimulation.ts
  test/support/Simulation/TradingSimulation.ts
  test/support/fast-check/arbitraries/AmountBN.ts
  test/support/test.helpers.ts
  utils-local/mocha.ts
  utils/getHardcodedFilename.ts
  yarn.lock
Due: lint-code

Minor fixes
  utils/getHardcodedFilename.ts
Due: lint-code
