Repository FairpoolDEX/contracts: changes, and which lefthook commands are due for each by the changed paths.
All: lint-code, lint-markdown-text, lint-markdown-links

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint-code:
      glob: "*.{ts,tsx,js,jsx}"
      run: yarn lint:code {staged_files}
    lint-markdown-text:
      glob: "*.md"
      run: yarn lint:markdown:text {staged_files} && git update-index -g
    lint-markdown-links:
      glob: "*.md"
      run: yarn lint:markdown:links {all_files} # lint all files, because renames may introduce broken links
    test:
      run: yarn test

#    TODO: Re-enable when type errors are fixed in typechain and ethers
#    typecheck:
#      glob: "*.{ts,tsx}"
#      run: yarn typecheck

Fix libs
  data/allAddressInfos.ts
  data/allContractInfos.ts
  data/allNetworkExplorers.ts
  data/allNetworks.ts
  hardhat.config.ts
  models/AddressInfo.ts
  models/ContractInfo.ts
  models/Deployment.ts
  models/Deployment/getDeploymentByNetwork.ts
  models/Network.ts
  models/NetworkExplorer.ts
  models/NetworkName.ts
  models/NetworkVM.ts
  models/RawAddressInfo.ts
  models/TokenInfo.ts
  package.json
  tasks/arguments/Fairpool.goerli.arguments.ts
  tasks/createPoolViaColiquidityTask.ts
  tasks/deployColiTokenTask.ts
  tasks/transferManyTask.ts
  tasks/util/getERC20Token.ts
  tasks/util/unwrapSmartContractBalancesAtBlockTag.ts
  tasks/writeTotalsTask.ts
  test/contracts/Fairpool.test.ts
  test/contracts/Fairpool/getGasUsedForManyHolders.ts
  test/contracts/Fairpool/getGasUsedForSeparateSellAndWithdraw.ts
  test/support/Fairpool.helpers.ts
  util-local/context/getRunnableContext.ts
  util-local/ethereum.ts
  util-local/gas.ts
  util-local/hardhat.ts
  util-local/network.ts
  util/url.ts
Due: lint-code

Fix libs
  .gitmodules
Due: none

Remove solidity-coverage
  hardhat.config.ts
  package.json
  yarn.lock
Due: lint-code

Remove etherscan-api
  package.json
  yarn.lock
Due: none

Upgrade eslint-plugin-import
  package.json
  yarn.lock
Due: none

Upgrade hardhat-deploy
  package.json
  yarn.lock
Due: none

Fix multiple
  package.json
  postinstall.sh
  yarn.lock
Due: none

Upgrade markdownlint
  package.json
  yarn.lock
Due: none

Upgrade solhint
  package.json
  yarn.lock
Due: none

Deploy Fairpool
  tasks/arguments/Fairpool.goerli.arguments.ts
  test/contracts/Fairpool.test.ts
  test/support/Fairpool.helpers.ts
Due: lint-code

Rename to earnings
  .echidna.yml
  contracts/Fairpool.sol
  contracts/FairpoolOwnerOperator.sol
  contracts/FairpoolTest.sol
  contracts/bancor/BancorFormula.sol
  test/contracts/Fairpool.test.ts
  test/contracts/Fairpool/expectParameter.ts
Due: lint-code

Fix Fairpool contract
  contracts/Fairpool.sol
  contracts/FairpoolTest.sol
  contracts/bancor/BancorFormula.sol
  test/contracts/Fairpool.test.ts
Due: lint-code

Update Fairpool to use the new formula
  contracts/Fairpool.sol
  contracts/FairpoolOwnerOperator.sol
  contracts/FairpoolTest.sol
  contracts/Scaled.sol
  contracts/SharedOwnership.sol
  contracts/SharedOwnershipTest.sol
  contracts/bancor/BancorFormula.sol
  hardhat.config.ts
  libs/echidna/parseTransactionInfo.ts
  models/Transfer.ts
  package-lock.json
  package.json
  tasks/arguments/Fairpool.goerli.arguments.ts
  tasks/deployContractTask.ts
  tasks/getQuoteDeltaMinTask.ts
  test/contracts/Fairpool.test.ts
  test/contracts/Fairpool/getGasUsedForManyHolders.ts
  test/support/Fairpool.functions.ts
  test/support/Fairpool.helpers.ts
  utils-local/ethers/fromTransactionReceiptToFee.ts
  utils-local/ethers/getContractBalance.ts
  utils-local/ethers/sumFees.ts
  utils-local/ethers/withCleanEthersError.ts
  utils-local/fromRawEvent.ts
  utils-local/parseFunctionCall.ts
  utils-local/verifyWithWorkaround.ts
  yarn.lock
Due: lint-code

Update README
  README.md
Due: lint-markdown-text, lint-markdown-links

Minor refactorings
  contracts/Fairpool.sol
  contracts/SharedOwnership.sol
  package.json
  test/contracts/Fairpool.test.ts
  yarn.lock
Due: lint-code

Improve Fairpool contract
  contracts/Fairpool.sol
  contracts/FairpoolOwnerOperator.sol
  contracts/FairpoolTest.sol
  contracts/SharedOwnership.sol
  contracts/Util.sol
  contracts/bancor/BancorFormula.sol
  tasks/arguments/Fairpool.goerli.arguments.ts
  test/contracts/Fairpool.test.ts
  test/contracts/Fairpool/getGasUsedForManyHolders.ts
  test/support/Fairpool.functions.ts
  test/support/Fairpool.helpers.ts
  utils-local/cleanEchidnaLogString.ts
Due: lint-code

Ensure slope is scaled
  contracts/Fairpool.sol
  contracts/FairpoolTest.sol
  package-lock.json
Due: none

Update libs
  test/contracts/Fairpool.test.ts
  test/support/Fairpool.helpers.ts
Due: lint-code

Add secrets
  .github/workflows/ci.yaml
  utils-local/getMnemonic.ts
Due: lint-code

Implement Canto deployments
  .env.example
  hardhat.config.ts
  package.json
  tasks/arguments/Fairpool.all.arguments.ts
  test/contracts/Fairpool.test.ts
  test/support/test.helpers.ts
  utils-local/ethereum.ts
  utils-local/getMnemonic.ts
Due: lint-code

Fix postinstall
  postinstall.sh
Due: none

Fix API keys
  hardhat.config.ts
Due: lint-code

Fix comments
  contracts/Fairpool.sol
Due: none

Fix CI
  .github/workflows/ci.yaml
Due: none

Remove solmate
  package.json
  tasks/arguments/Fairpool.all.arguments.ts
  yarn.lock
Due: lint-code

Fix lint errors
  .eslintrc.js
Due: lint-code

Add submodules to checkout
  .github/workflows/ci.yaml
Due: none

Fix typecheck errors
  .github/workflows/ci.yaml
  tasks/writeTotalsTask.ts
  test/contracts/Fairpool/getGasUsedForSeparateSellAndWithdraw.ts
Due: lint-code

Recoverable
  .eslintrc.ci.js
  .github/workflows/ci.yaml
  .gitignore
  contracts/Fairpool.sol
  contracts/GenericERC1155.sol
  contracts/GenericERC721A.sol
  contracts/GenericToken.sol
  contracts/Recoverable.sol
  fuzz.ts
  lefthook.yml
  package.json
  tasks/addAllocationsShieldTokenTask.ts
  tasks/deployMCPTask.ts
  tasks/transferManyShieldTokenTask.ts
  test/contracts/ERC20Enumerable.simple.ts
  test/contracts/Fairpool.test.ts
  test/contracts/GenericToken.test.ts
  test/formulas/uni.test.ts
  test/support/test.helpers.ts
  test/tasks/createPoolViaColiquidity.test.ts
  utils/ensure.ts
  yarn.lock
Due: lint-code

New formula
  test/contracts/Fairpool.test.ts
  test/formulas/arbitraries/getNumerators.ts
  test/formulas/arbitraries/toBoundedArray.ts
  test/formulas/arbitraries/toQuotients.ts
  test/formulas/uni.test.ts
  test/support/Fairpool.functions.ts
  utils/filter.ts
Due: lint-code

Update Fairpool contract formula
  .gitignore
  contracts/ERC20EnumerableTest.sol
  contracts/ERC20EnumerableTestEchidna.sol
  contracts/Fairpool.sol
  contracts/FairpoolOwnerOperator.sol
  contracts/FairpoolTest.sol
  contracts/InstrumentedERC20Enumerable.cvl
  contracts/Util.sol
  contracts/bancor/BancorFormula.sol
  models/Transfer/parseTransfersCSV.ts
  package.json
  tasks/util/getTransfers.ts
  test/contracts/Division.test.ts
  test/contracts/ERC20Enumerable.full.ts
  test/contracts/ERC20Enumerable.simple.ts
  test/contracts/FairDistribution.test.ts
  test/contracts/Fairpool.test.ts
  test/formulas/arbitraries/getNumerators.ts
  test/formulas/arbitraries/toBoundedArray.ts
  test/formulas/arbitraries/toQuotients.ts
  yarn.lock
Due: lint-code

disallow sending the tokens to the contract itself
  contracts/Fairpool.sol
  test/contracts/Fairpool.test.ts
Due: lint-code

New formula
  test/formulas/arbitraries/getNumerators.ts
  test/formulas/arbitraries/toBoundedArray.ts
  test/formulas/arbitraries/toQuotients.ts
  test/formulas/uni.test.ts
Due: lint-code

Fix Uni tests
  test/formulas/uni.test.ts
Due: lint-code

Remove call
  contracts/Fairpool.sol
  contracts/FairpoolOwnerOperator.sol
Due: none

Fix tests
  test/contracts/Fairpool.test.ts
Due: lint-code

Change the distribution logic
  Fairpool.intro.md
  Fairpool.md
  Fairpool.questions.md
  LICENSE
  contracts/ERC20EnumerableTest.sol
  contracts/Fairpool.sol
  contracts/FairpoolOwnerOperator.sol
  contracts/FairpoolTest.sol
  contracts/Recoverable.sol
  contracts/SharedOwnership.sol
  contracts/SharedOwnershipTest.sol
  test/contracts/Fairpool.test.ts
Due: lint-code, lint-markdown-text, lint-markdown-links
