Repository FairpoolDEX/contracts: changes, and which lefthook commands are due for each by the changed paths.
All: lint-code, lint-markdown-text, lint-markdown-links

lint-code:
  run: yarn lint:code {staged_files}

lint-markdown-text:
  run: yarn lint:markdown:text {staged_files} && git update-index -g

lint-markdown-links:
  run: yarn lint:markdown:links {all_files}

lint
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

nowait
  .husky/prepare-commit-msg
  data/allDeployments.ts
  models/Address.ts
  test/expectations/writeClaims.rebrand.ts
Due: lint-code

Fix token name
  tasks/deployColiTokenTask.ts
  tasks/writeClaimsTask.ts
  test/contracts/ColiToken.test.ts
  test/tasks/setClaims.test.ts
Due: lint-code

Prepare for Coliquidity deploy on ETH mainnet
  package.json
  tasks/arguments/Coliquidity.arguments.avaxtestnet.ts
  tasks/arguments/Coliquidity.arguments.bscmainnet.ts
  tasks/arguments/Coliquidity.arguments.bsctestnet.ts
  tasks/arguments/Coliquidity.arguments.mainnet.ts
  tasks/arguments/Coliquidity.arguments.ropsten.ts
  test/support/Uniswap.helpers.mainnet.ts
Due: lint-code

fixes
  .openzeppelin/mainnet.SHLD.json
  package.json
Due: none

writeClaimsToZeroTask
  hardhat.config.ts
  models/Address.ts
  package.json
  tasks/writeClaimsTask.ts
  tasks/writeClaimsToZeroTask.ts
Due: lint-code

writeTotalsTask
  data/allDeployments.ts
  data/allNetworks.ts
  data/allTokenInfos.ts
  hardhat.config.ts
  models/Address/getAddressesFromCSVFile.ts
  models/Addressable.ts
  models/Addressable/getAddressablesFromCSVFile.ts
  models/Addressable/parseAddressablesCSV.ts
  models/AmountBigNum.ts
  models/BalanceBN.ts
  models/Deployment.ts
  models/Deployment/getDeploymentByNetwork.ts
  models/Id.ts
  models/Network.ts
  models/TokenInfo.ts
  models/Uid.ts
  package.json
  tasks/writeClaimsTask.ts
  tasks/writeClaimsToZeroTask.ts
  tasks/writeTotalsTask.ts
  tsconfig.json
  util/balance.ts
  util/bignumber.convert.ts
  util/ethereum.ts
  util/hardhat.ts
  util/todo.ts
  util/zod.ts
Due: lint-code

GenericTokenWithVesting
  contracts/GenericTokenWithVesting.sol
  data/allVestingSchedules.ts
  models/Allocation.ts
  models/Allocation/parseAllocationsCSV.ts
  models/AmountBN.ts
  models/Duration.ts
  models/LearnToEarn/Submission.ts
  models/LearnToEarn/Submission/getSubmissionsFromCSVFile.ts
  models/LearnToEarn/Submission/parseSubmissionsCSV.ts
  models/Share.ts
  models/VestingName.ts
  models/VestingSchedule.ts
  models/VestingType.ts
  tasks/deployColiTokenTask.ts
  tasks/util/getToken.ts
  tasks/writeClaimsTask.ts
  tasks/writeClaimsToZeroTask.ts
  tasks/writeTotalsTask.ts
  test/contracts/GenericTokenWithVesting.test.ts
  test/support/BullToken.helpers.ts
  test/support/ColiToken.helpers.ts
  test/support/Vesting.helpers.ts
  util/balance.ts
Due: lint-code

Note
  tasks/writeClaimsToZeroTask.ts
Due: lint-code

Fix command
  package.json
Due: none

addAllocationsTask
  package.json
  test/support/MarsToken.helpers.ts
Due: lint-code

Add daily vesting
  contracts/GenericTokenWithVesting.sol
  models/Allocation.ts
  models/Allocation/parseAllocationsCSV.ts
  models/NamedAllocation.ts
  models/NewFrozenWallet.ts
  models/NewFrozenWallet/renderFrozenWallet.ts
  models/Share.ts
  models/VestingType.ts
  package.json
  tasks/arguments/MarsToken.vestingTypes.ts
  tasks/deployColiTokenTask.ts
  test/contracts/GenericTokenWithVesting.test.ts
  test/expectations/writeClaims.rebrand.ts
  test/support/Allocation.helpers.ts
  test/support/ColiToken.helpers.ts
  test/support/Vesting.helpers.ts
  util/bignumber.ts
Due: lint-code

addAllocationsTask
  contracts/GenericTokenWithVesting.sol
  data/allVestingSchedules.ts
  hardhat.config.ts
  models/CustomNamedAllocation.ts
  models/CustomNamedAllocation/parseCustomNamedAllocationsCSV.ts
  models/CustomNamedAllocation/renderCustomNamedAllocation.ts
  models/VestingType.ts
  package.json
  tasks/addAllocations.ts
  tasks/addVestingTypes.ts
  tasks/arguments/MarsToken.vestingTypes.ts
  test/contracts/GenericTokenWithVesting.test.ts
  test/contracts/MarsToken.test.ts
  test/support/Allocation.helpers.ts
  test/support/ColiToken.helpers.ts
  test/support/MarsToken.helpers.ts
  test/support/Vesting.helpers.ts
  util/bignumber.ts
  util/hardhat.ts
Due: lint-code

addVestingTypes
  hardhat.config.ts
  package.json
  tasks/arguments/MarsToken.vestingTypes.ts
  tasks/deployContractTask.ts
  test/contracts/GenericTokenWithVesting.test.ts
  test/contracts/MarsToken.test.ts
  test/support/ColiToken.helpers.ts
  test/support/Vesting.helpers.ts
Due: lint-code

addVestingTypesTask
  contracts/GenericTokenWithVesting.sol
  hardhat.config.ts
  package.json
  tasks/addVestingTypes.ts
  tasks/arguments/MarsToken.arguments.bscmainnet.ts
  tasks/arguments/MarsToken.arguments.bsctestnet.ts
  tasks/util/transaction.ts
  test/contracts/GenericTokenWithVesting.test.ts
  test/support/MarsToken.helpers.ts
  test/support/Vesting.helpers.ts
  util/url.ts
Due: lint-code

addAllocationsTask
  tasks/addAllocations.ts
  tasks/addVestingTypes.ts
  tasks/transferManyTask.ts
  test/contracts/GenericTokenWithVesting.test.ts
  test/contracts/MarsToken.test.ts
  test/support/Allocation.helpers.ts
  test/support/TransferMany.helpers.ts
  test/support/Vesting.helpers.ts
  util/ethers.ts
Due: lint-code

ERC20Enumerable test
  Testing.md
  test/contracts/Coliquidity.test.ts
  test/contracts/ERC20Enumerable.test.ts
  test/contracts/ERC20Enumerable/ERC20EnumerableCommand.ts
  test/contracts/ERC20Enumerable/commands/TransferCommand.ts
  test/support/fast-check/arbitraries/Address.ts
  test/support/fast-check/arbitraries/AmountBN.ts
  test/support/fast-check/arbitraries/AmountNum.ts
  test/support/fast-check/commands/GenericCommand.ts
  test/support/fast-check/models/ERC20Model.ts
  util/lodash.ts
Due: lint-code, lint-markdown-text, lint-markdown-links

Update utils
  .gitmodules
  contracts/Coliquidity.sol
  contracts/TraderLoot.sol
  data/allNetworkExplorers.ts
  data/allNetworks.ts
  hardhat.config.ts
  models/AmountBigNum.ts
  models/BalanceBN.ts
  models/ERC721TokenId.ts
  models/Network.ts
  models/NetworkName.ts
  models/RawAddressInfo.ts
  package.json
  tasks/addAllocations.ts
  tasks/addVestingTypes.ts
  tasks/claimManyTask.ts
  tasks/deployContractTask.ts
  tasks/setClaimsTask.ts
  tasks/util/getERC20Data.ts
  tasks/util/getERC20Token.ts
  tasks/util/getERC721AToken.ts
  tasks/util/getERC721Token.ts
  tasks/util/transaction.ts
  tasks/util/unwrapSmartContractBalancesAtBlockTag.ts
  test/contracts/ColiToken.test.ts
  test/support/ERC721.helpers.ts
  test/support/ETH.helpers.ts
  util-local/bignumber.convert.ts
  util-local/ethereum.ts
  util-local/gas.ts
  util-local/network.ts
  util/env.ts
  yarn.lock
Due: lint-code

ERC20Enumerable + upgrade multiple packages
  contracts/ERC20Enumerable.sol
  contracts/GenericERC20Enumerable.sol
  hardhat.config.ts
  models/Coliquidity/Offer.ts
  models/Coliquidity/Position.ts
  package.json
  tasks/claimManyTask.ts
  test/contracts/BullToken.test.ts
  test/contracts/ColiToken.test.ts
  test/contracts/Coliquidity.test.ts
  test/contracts/Coliquidity/commands/CreateOfferCommand.ts
  test/contracts/Coliquidity/commands/ReachDesiredStateCommand.ts
  test/contracts/Dummy/commands/DummyCommand.ts
  test/contracts/ERC20Enumerable.test.ts
  test/contracts/ERC20Enumerable/ERC20EnumerableCommand.ts
  test/contracts/ERC20Enumerable/ERC20EnumerableModel.ts
  test/contracts/ERC20Enumerable/ERC20EnumerableReal.ts
  test/contracts/ERC20Enumerable/commands/MintCommand.ts
  test/contracts/ERC20Enumerable/commands/TransferCommand.ts
  test/contracts/GenericTokenWithVesting.test.ts
  test/contracts/MCP.test.ts
  test/support/ColiToken.helpers.ts
  test/support/fast-check.helpers.ts
  test/support/fast-check/commands/GenericCommand.ts
  test/support/fast-check/models/BlockchainModel.ts
  test/support/fast-check/models/ERC20Model.ts
  test/support/fast-check/models/TokenModel.ts
  test/tasks/setClaims.test.ts
  tsconfig.json
  util-local/expect.ts
  util-local/log.ts
  util/bignumber.ts
  yarn.lock
Due: lint-code

Fairpool
  contracts/ERC20Enumerable.sol
  contracts/Fairpool.sol
  hardhat.config.ts
  package.json
  test/contracts/Fairpool.test.ts
  test/support/Allocation.helpers.ts
  test/support/Fairpool.helpers.ts
  util/bignumber.ts
  yarn.lock
Due: lint-code

Testing
  Testing.md
  test/contracts/ERC20.draft.ts
Due: lint-code, lint-markdown-text, lint-markdown-links

Add tests
  .tool-versions
  Testing.md
  contracts/Fairpool.sol
  data/allNetworks.ts
  hardhat.config.ts
  models/Share.ts
  mythril.config.json
  slither.config.json
  test/contracts/Division.test.ts
  test/contracts/ERC20Enumerable.full.test.ts
  test/contracts/ERC20Enumerable.simple.test.ts
  test/contracts/FairDistribution.test.ts
  test/contracts/Fairpool.test.ts
  test/divide-and-conquer/FunctionDefinition.ts
  test/divide-and-conquer/GenericState.ts
  test/divide-and-conquer/GetRandomValue.ts
  test/divide-and-conquer/Handler.ts
  test/divide-and-conquer/Projection.ts
  test/divide-and-conquer/PropPath.ts
  test/divide-and-conquer/Step.ts
  test/divide-and-conquer/Transistor.ts
  test/divide-and-conquer/Transition.ts
  test/divide-and-conquer/TypeInfo.ts
  test/divide-and-conquer/Variator.ts
  test/divide-and-conquer/allFunctionDefinitions.ts
  test/divide-and-conquer/exploreTransition.ts
  test/divide-and-conquer/generators/getJavascriptIntegers.ts
  test/divide-and-conquer/getParamsArray.ts
  test/divide-and-conquer/getValues.ts
  test/divide-and-conquer/getVariations.ts
  test/divide-and-conquer/helpers.ts
  test/divide-and-conquer/pivot.ts
  test/divide-and-conquer/runStepWithHandlers.ts
  test/divide-and-conquer/runTest.ts
  test/divide-and-conquer/runTransition.ts
  util/env.ts
Due: lint-code, lint-markdown-text, lint-markdown-links

Testing
  Testing.md
  package.json
  test/contracts/Division.test.ts
  test/contracts/ERC20Enumerable.full.test.ts
  test/contracts/ERC20Enumerable.simple.test.ts
  test/contracts/ERC20Enumerable.test.ts
  test/exploratory/GenericState.ts
  test/exploratory/GetRandomValue.ts
  test/exploratory/Handler.ts
  test/exploratory/Projection.ts
  test/exploratory/PropPath.ts
  test/exploratory/Step.ts
  test/exploratory/Transistor.ts
  test/exploratory/Transition.ts
  test/exploratory/TypeInfo.ts
  test/exploratory/Variator.ts
  test/exploratory/exploreTransition.ts
  test/exploratory/generators/getJavascriptIntegers.ts
  test/exploratory/getParamsArray.ts
  test/exploratory/getValues.ts
  test/exploratory/getVariations.ts
  test/exploratory/helpers.ts
  test/exploratory/pivot.ts
  test/exploratory/runStepWithHandlers.ts
  test/exploratory/runTest.ts
  test/exploratory/runTransition.ts
  test/support/fast-check/commands/GenericCommand.ts
  util/JSON.ts
  util/expectations.ts
  util/typescript.ts
  yarn.lock
Due: lint-code, lint-markdown-text, lint-markdown-links

Optimize gas usage
  contracts/Fairpool.sol
  package.json
  test/contracts/Fairpool.test.ts
  util/env.ts
Due: lint-code

Add conditions
  contracts/Fairpool.sol
Due: none

transferShares
  Testing.md
  contracts/ERC20Enumerable.sol
  contracts/Fairpool.sol
  contracts/SharedOwnership.sol
Due: lint-markdown-text, lint-markdown-links

BN
  libs/bn/index.ts
  libs/bn/models/RangeBN.ts
  libs/bn/util.ts
  models/Share.ts
  models/Transfer.ts
  tasks/arguments/MarnotaurToken.arguments.ts
  tasks/arguments/PlethoriToken.arguments.ts
  tasks/util/parse.ts
  tasks/util/unwrapSmartContractBalancesAtBlockTag.ts
  tasks/writeClaimsTask.ts
  tasks/writeClaimsToZeroTask.ts
  tasks/writeTotalsTask.ts
  test/contracts/Coliquidity.test.ts
  test/contracts/ERC20Enumerable.full.test.ts
  test/contracts/ERC20Enumerable.simple.test.ts
  test/contracts/ERC20Enumerable.test.ts
  test/contracts/ERC20Enumerable/ERC20EnumerableReal.ts
  test/contracts/FairDistribution.test.ts
  test/contracts/Fairpool.test.ts
  test/contracts/GenericTokenWithVesting.test.ts
  test/contracts/MarsToken.test.ts
  test/expectations/deployColiToken.rebrand.ts
  test/expectations/writeClaims.rebrand.ts
  test/support/Allocation.helpers.ts
  test/support/Coliquidity.calculation.helpers.ts
  test/support/Fairpool.helpers.ts
  test/support/fast-check/models/ERC20Model.ts
  util-local/balance.ts
  util/bignumber.ts
Due: lint-code

Added libs/bn submodule
  .gitmodules
Due: none

BN
  libs/bn/constants.ts
  libs/bn/models/MinMaxBN.ts
  libs/bn/models/RangeBN.ts
  libs/bn/utils.ts
  models/Share.ts
  models/Transfer.ts
  tasks/arguments/MarnotaurToken.arguments.ts
  tasks/arguments/PlethoriToken.arguments.ts
  tasks/util/parse.ts
  tasks/util/unwrapSmartContractBalancesAtBlockTag.ts
  tasks/writeClaimsTask.ts
  tasks/writeClaimsToZeroTask.ts
  tasks/writeTotalsTask.ts
  test/contracts/Coliquidity.test.ts
  test/contracts/ERC20Enumerable.full.test.ts
  test/contracts/ERC20Enumerable.simple.test.ts
  test/contracts/ERC20Enumerable.test.ts
  test/contracts/ERC20Enumerable/ERC20EnumerableReal.ts
  test/contracts/FairDistribution.test.ts
  test/contracts/Fairpool.test.ts
  test/contracts/GenericTokenWithVesting.test.ts
  test/contracts/MarsToken.test.ts
  test/expectations/deployColiToken.rebrand.ts
  test/expectations/writeClaims.rebrand.ts
  test/support/Allocation.helpers.ts
  test/support/Coliquidity.calculation.helpers.ts
  test/support/Fairpool.helpers.ts
  test/support/fast-check/models/ERC20Model.ts
  util-local/balance.ts
Due: lint-code

Moved libs/bn into a separate repository
  libs/bn/constants.ts
  libs/bn/index.ts
  libs/bn/models/MinMaxBN.ts
  libs/bn/utils.ts
Due: lint-code

DivideAndConquer
  .markdownlint.json
  contracts/Fairpool.sol
  libs/divide-and-conquer/FunctionDefinition.ts
  libs/divide-and-conquer/GenericState.ts
  libs/divide-and-conquer/GetRandomValue.ts
  libs/divide-and-conquer/Handler.ts
  libs/divide-and-conquer/Projection.ts
  libs/divide-and-conquer/PropPath.ts
  libs/divide-and-conquer/README.md
  libs/divide-and-conquer/Step.ts
  libs/divide-and-conquer/Transistor.ts
  libs/divide-and-conquer/Transition.ts
  libs/divide-and-conquer/TypeInfo.ts
  libs/divide-and-conquer/Variator.ts
  libs/divide-and-conquer/allFunctionDefinitions.ts
  libs/divide-and-conquer/exploreTransition.ts
  libs/divide-and-conquer/generators/getJavascriptIntegers.ts
  libs/divide-and-conquer/getParamsArray.ts
  libs/divide-and-conquer/getValues.ts
  libs/divide-and-conquer/getVariations.ts
  libs/divide-and-conquer/helpers.ts
  libs/divide-and-conquer/pivot.ts
  libs/divide-and-conquer/runStepWithHandlers.ts
  libs/divide-and-conquer/runTest.ts
  libs/divide-and-conquer/runTransition.ts
  test/contracts/Division.test.ts
  test/contracts/ERC20Enumerable.full.test.ts
  test/contracts/ERC20Enumerable.simple.test.ts
  test/contracts/FairDistribution.test.ts
Due: lint-code, lint-markdown-text, lint-markdown-links

DnC
  index.d.ts
  libs/divide-and-conquer/exploreTransition.ts
  libs/divide-and-conquer/getVariations.ts
  libs/divide-and-conquer/runStepWithHandlers.ts
  libs/divide-and-conquer/runTest.ts
  libs/divide-and-conquer/runTransition.ts
  package.json
  tasks/createPoolViaColiquidityTask.ts
  tasks/deployColiTokenTask.ts
  tasks/rebrandTask.ts
  tasks/util/getERC20Data.ts
  tasks/util/getTransfers.ts
  tasks/util/unwrapSmartContractBalancesAtBlockTag.ts
  tasks/writeClaimsTask.ts
  tasks/writeTotalsTask.ts
  test/contracts/Coliquidity/commands/ReachDesiredStateCommand.ts
  test/contracts/Division.test.ts
  test/contracts/ERC20Enumerable.full.ts
  test/contracts/ERC20Enumerable.simple.ts
  test/contracts/ERC20Enumerable.test.ts
  test/contracts/ERC20Enumerable/ERC20EnumerableReal.ts
  test/contracts/ERC20EnumerableCommon.ts
  test/contracts/FairDistribution.test.ts
  test/contracts/Fairpool.test.ts
  test/contracts/MatchingEngine.test.ts
  test/contracts/outside.ts
  test/support/ERC721.helpers.ts
  test/support/fast-check/commands/BlockchainCommand.ts
  test/support/fast-check/commands/GenericCommand.ts
  test/support/test.helpers.ts
  test/tasks/createPoolViaColiquidity.test.ts
  tsconfig.json
  util-local/ethers.ts
  yarn.lock
Due: lint-code

WIP: ERC20Enumerable
  libs/divide-and-conquer/GenericState.ts
  libs/divide-and-conquer/Transition.ts
  test/contracts/ERC20Enumerable.errors.ts
  test/contracts/ERC20Enumerable.full.ts
  test/contracts/ERC20Enumerable.params.ts
  test/contracts/ERC20Enumerable.simple.ts
  test/contracts/ERC20EnumerableCommon.ts
  test/contracts/MatchingEngine.test.ts
  test/contracts/Math.errors.ts
  test/contracts/Math.functions.ts
Due: lint-code

WIP: ERC20Enumerable
  contracts/GenericERC721A.sol
  libs/divide-and-conquer/Transition.ts
  package.json
  test/contracts/Division.test.ts
  test/contracts/ERC20Enumerable.simple.ts
  test/contracts/FairDistribution.test.ts
  test/support/ERC721A.helpers.ts
  yarn.lock
Due: lint-code

Migate to rambdax
  libs/divide-and-conquer/FunctionDefinition.ts
  libs/divide-and-conquer/Transition.ts
  libs/divide-and-conquer/generators/getJavascriptIntegers.ts
  libs/divide-and-conquer/getValues.ts
  libs/divide-and-conquer/runStepWithHandlers.ts
  package.json
  yarn.lock
Due: lint-code

Added libs/utils submodule
  .gitmodules
Due: none

Moved libs/divide-and-conquer into a separate repository
  libs/divide-and-conquer/FunctionDefinition.ts
  libs/divide-and-conquer/GenericState.ts
  libs/divide-and-conquer/GetRandomValue.ts
  libs/divide-and-conquer/Handler.ts
  libs/divide-and-conquer/Projection.ts
  libs/divide-and-conquer/PropPath.ts
  libs/divide-and-conquer/README.md
  libs/divide-and-conquer/Step.ts
  libs/divide-and-conquer/Transistor.ts
  libs/divide-and-conquer/Transition.ts
  libs/divide-and-conquer/TypeInfo.ts
  libs/divide-and-conquer/Variator.ts
  libs/divide-and-conquer/allFunctionDefinitions.ts
  libs/divide-and-conquer/exploreTransition.ts
  libs/divide-and-conquer/generators/getJavascriptIntegers.ts
  libs/divide-and-conquer/getParamsArray.ts
  libs/divide-and-conquer/getTestCasesFromPath.ts
  libs/divide-and-conquer/getValues.ts
  libs/divide-and-conquer/getVariations.ts
  libs/divide-and-conquer/helpers.ts
  libs/divide-and-conquer/pivot.ts
  libs/divide-and-conquer/runStepWithHandlers.ts
  libs/divide-and-conquer/runTest.ts
  libs/divide-and-conquer/runTransition.ts
Due: lint-code, lint-markdown-text, lint-markdown-links

Added libs/divide-and-conquer submodule
  .gitmodules
Due: none

Path conditions:
  lint-code: any of: *.{ts,tsx,js,jsx}
  lint-markdown-text: any of: *.md
  lint-markdown-links: any of: *.md
